.our-team-bg-color {
	background: #28293e;
	padding-top: 92px;
	margin-top: 128px;
	.our-team-container {
		.ourteam-title {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 32px;
			/* identical to box height, or 200% */

			letter-spacing: 3px;
			text-transform: uppercase;

			/* Text_Light_Accent */

			color: #ef6d58;
		}
		.team-of {
			font-style: normal;
			font-weight: 800;
			font-size: 56px;
			line-height: 64px;
			/* or 114% */

			letter-spacing: -1px;

			/* Text_Light */

			color: #ffffff;
			width: 531px;
		}
		.team-carousel {
			padding: 80px 0 52px 0;
			.react-multi-carousel-track {
				.card {
					border: none;
					width: 270px;
					background-color: transparent;

					.team-image {
						width: 100%;
						height: 300px;
					}
					.team-card-body {
						padding: 25px 0 0 0;
						.team-member-name {
							font-style: normal;
							font-weight: 700;
							font-size: 24px;
							line-height: 32px;
							/* identical to box height, or 133% */

							/* Text_Light */

							color: #ffffff;
						}
						.team-member-work {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 32px;
							/* identical to box height, or 200% */

							/* Text_Light_Gray */

							color: rgba(255, 255, 255, 0.64);
						}
					}
				}
			}
			.react-multi-carousel-dot-list {
				.react-multi-carousel-dot {
					button {
						background-color: transparent;
					}
				}
				.react-multi-carousel-dot--active {
					button {
						background: #ef6d58 !important;
					}
				}
			}
			.react-multiple-carousel__arrow {
				top: 0;
				background-color: transparent;
				border: 1px solid rgba(255, 255, 255, 0.295743);
				height: 48px;
				width: 48px;
			}
			.react-multiple-carousel__arrow--left::before {
				content: url(../assets/Pathleft.svg);
				font-size: inherit;
			}
			.react-multiple-carousel__arrow--right::before {
				content: url(../assets/Pathright.svg);
				font-size: inherit;
			}
			.react-multiple-carousel__arrow:hover {
				background: #ef6d58;
			}
			.react-multiple-carousel__arrow--left {
				left: 86%;
			}
		}
	}
}

@media (max-width: 768px) {
	.our-team-bg-color {
		margin-top: 0px;
		.our-team-container {
			.team-of {
				font-style: normal;
				font-weight: 800;
				font-size: 40px;
				line-height: 48px;
				width: 100%;
			}
		}
	}
}
