.contact-us-from-bg {
	background: url(../assets/Group188.png);
   background-size: cover;
	height: 732.5px;
	.contact-container {
		display: flex;
		justify-content: flex-end;
		padding-top: 126px;
	}
}
.innumber-col {
	.upper-head {
        display: flex;
        gap: 24px;
        align-items: center;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 32px;
		/* identical to box height, or 200% */

		letter-spacing: 3px;
		text-transform: uppercase;

		/* Text_Dark_Accent */

		color: #ef6d58;
		img {
			width: 64px;
			height: 64px;
		}
        margin-bottom: 35px;
	}
}
